@charset "UTF-8";
body{
	background-color: #000;
	color: #fff;
}
header{
	display: flex;
	justify-content: space-between;
	position: fixed;
    z-index: 10;
    padding: 0 2%;
	width: 100%;
}
h1 a{
    display: none;
    font-family: "Anton", sans-serif;
    text-decoration: none;
    color: #fff;
}
input[type=checkbox],input[name="works"]{
    display: none;
}
.burger_box{
    display: block;
    width: 50px;
    height: 50px;
    left: 0%;
	z-index: 512;
    border-radius: 3px;
	right: 0;
    position: relative;
    transition: 0.4s;
	overflow: hidden;
}
.burger_line{
    position: absolute;
    top: 25%;
    left: 5px;
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
}
.burger_line:nth-of-type(2){
    top: 45%;
}
.burger_line:nth-of-type(3){
    top: 65%;
}
#burger_button:checked ~ #nav_burger{
    top: 0%;
    opacity: 1;
}
#burger_button:checked ~ label .burger_line{
    top: 45%;
    transform: rotate(45deg);
    background-color: #fff;
}
#burger_button:checked ~ label .none{
    opacity: 0;
}
#burger_button:checked ~ label .burger_line:nth-of-type(3){
    transform: rotate(-45deg);
}
#nav_burger{
    position: fixed;
    right: 0%;
	top: -100%;
    z-index: 256;
	height: 100vh;
	background-color: #A7A7FF;
    box-shadow: -2px -2px 5px #fff;
	overflow: hidden;
    opacity: 0;
	transition: 0.3s ease;
}
#nav_burger nav ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    padding: 2% 35px;
    text-align: center;
    position: relative;
    z-index: 20;
    bottom: 0;
}
#nav_burger nav ul li{
    font-size: 24px;
    font-weight: bold;
    width: 255px;
    margin: 0;
    position: relative;
    z-index: -1;
    list-style-type: none;
}
#nav_burger nav ul li a{
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in;
    font-family: "Anton", sans-serif;
}
.mail{
    font-size: 14px;
    margin-top: 5px;
}
#nav_burger nav ul li a:hover{
    text-shadow: 10px 0.5rem 5px #5757f9;
}
#main_img{
	min-height: 100vh;
    width: 100%;
	background-image: url(../img/main.png);
    background-position: center;
}
.wrap{
    max-width: 1500px;
    margin: 0 auto;
}
section{
    margin-top: 200px;
}
section h2{
	text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: "Anton", sans-serif;
}
.about_box{
    font-size: 21px;
    text-shadow: 2px 3px 5px #707070;
}
.about_item dl{
    border: #000 2px solid;
    border-radius: 15px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #A7A7FF;
    box-shadow: #6f6faf 10px 10px 0px;
}
.about_item dt{
    width: 20%;
    margin: 15px 0 0 25px;
}
.about_item dd{
    width: 65%;
    margin-top: 15px;
}
.about_item dd:last-child{
    margin-bottom: 15px;
}
.about_align,.work_align{
	display: block;
}
.promotion_box{
    max-width: 900px;
    background-color: #DBAB7C;
    box-shadow: #a5815e 9px 9px 0px;
    border: #000 2px solid;
    border-radius: 15px;
    text-shadow: 2px 3px 5px #707070;
    font-size: 21.5px;
    margin: 0 auto;
}
.promotion_box p{
    padding: 2%;
}
.work_box{
    position: relative;
    z-index: 0;
}
.work_box::before{
    content: "";
    display: block;
    padding-bottom: 68%;
    transition: 0.2s;
    position: relative;
    z-index: -512;
}
.web_works,.other_works{
    position: absolute;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0 20px 20px;
    padding: 20px 20px 0;
    top: -1px;
    transition: 0.2s ease-out;
}
.web_works{
    background-color: #A7A7FF;
    z-index: 1;
}
.other_works{
    opacity: 0;
    z-index: 0;
    background-color: #DBAB7C;
}
.work_item{
    width: 30%;
    margin-bottom: 30px;
}
.work_item a img{
    width: 100%;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: rgba(89, 89, 89,0) 0px 0px 0px;
}
.work_item a:hover img{
    box-shadow: rgba(89, 89, 89,0.5) 5px 5px 10px;
}
.work_switch_box{
    display: flex;
}
.work_switch{
    display: block;
    width: 250px;
    border-radius: 20px 20px 0 0;
    padding: 20px 0 20px;
    background-color: #A7A7FF;
    text-align: center;
    font-size: 21px;
    transition: 200ms ease
}
.work_switch:hover{
    opacity: 0.7;
}
.work_item h3{
    text-align: center;
    font-size: 21px;
}
label[for="other_works"] .work_switch{
    background-color: #DBAB7C;
}
#other_works:checked ~ .other_works{
    opacity: 1;
    z-index: 5;
}
.form_box{
    max-width: 900px;
    margin: 0 auto;
    font-size: 21px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#name,#email{
    background-color: #fff;
    width: 350px;
    border: 2px solid #707070;
    border-radius: 2px;
}
#body{
    display: block;
    background-color: #fff;
    border: 2px solid #707070;
    width: 100%;
    height: 350px;
    margin: 10px 0 20px;
    border-radius: 4px
}
input[type="button"]{
    display: block;
    background-color: #fff;
    color: #707070;
    border: #707070 2px solid;
    margin: 0 auto;
    transition: 0.1s;
}
input[type="button"]:hover{
    box-shadow: inset #707070 2px 2px 0;
    border: #fff 2px solid;
}
footer{
    margin-top: 100px;
    padding: 2% 0;
    background-color: #A7A7FF;
    color: #fff;
    text-align: center;
}
.work_header{
    position: relative;
}
.work_header h1 a{
    display: block;
}
.back:hover{
    background-color: #5757f900;
    border: #fff 2px solid;
}
.work_section{
    margin-top: 0px;
}
.work_detail_box{
    display: flex;
    justify-content: space-between;
}
.work_detail_item{
    width: 45%;
    font-size: 25px;
}
.work_detail_item img{
    animation: left_in 0.5s both;
}
@keyframes left_in{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.work_detail_item .text{
    animation: right_in 0.5s both;
}
@keyframes right_in{
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
.work_detail_item dd{
    font-size: 18px;
    margin: 5px 0 20px;
}
.work_detail_item img{
    width: 100%;
}
.visual{
    overflow: hidden;
    position: relative;
}
.visual:hover .mask{
    opacity: 1;
}
.mask{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.35s ease;
    background-color: rgba(0, 0, 0, 0.6);
}
.caption{
    font-size: 130%;
    text-align: center;
    padding-top: 40%;
    color: #fff;
}
.caption span{
    font-size: 15px;
    display: block;
}
.site_color{
    display: block;
    text-align: center;
}
.button{
    display: block;
    color: #fff;
    background-color: #A7A7FF;
    border: 3px solid #A7A7FF;
    width: 250px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    margin: 50px auto 0;
    transition: 0.3s;
}
.button span{
    display: block;
    font-size: 15px;
}
.button:hover{
    background-color: transparent;
    border: #fff 3px solid;
}
.frame{
    max-width: 450px;
    width: 100%;
    border: #d6d6d6 2px solid;
    display: flex;
    font-size: 16px;
}
.bg_color,.main_color,.font_color,.accent_color{
    max-width: 150px;
    width: 100%;
    padding: 5px;
}
.cafe.bg_color{
    background-color: #030531;
}
.cafe.main_color{
    background-color: #3850A3;
}
.cafe.font_color{
    background-color: #fff;
    color: #171717;
}
.channel.bg_color{
    background-color: #aaebff;
    color: #171717;
}
.channel.main_color{
    background-color: #5c8fff;
}
.channel.font_color{
    background-color: #5a5a5a;
}
.cosme.bg_color{
    background-color: #ffeff7;
    color: #171717;
}
.cosme.main_color{
    background-color: #f8a7ce;
    color: #171717;
}
.cosme.font_color{
    background-color: #122;
}
.portfolio{
    width: 25%;
}
.portfolio.font_color{
    background-color: #fff;
    color: #000;
}
.portfolio.main_color{
    background-color: #A7A7FF;
    color: #000;
}
.accent_color{
    background-color: #DBAB7C;
}
.flypan.bg_color{
    background-color: #D0C1A5;
}
.flypan.main_color{
    background-color: #FFCA65;
}
.flypan.font_color{
    background-color: #707070;
}
@media(max-width: 820px){
    .wrap{
        max-width: 780px;
    }
    section{
        margin-top: 150px;
    }
    #main_img{
        min-height: 42vh;
        min-width: 92vw;
        background-size: contain;
    }
    .about_item dl,.promotion_box{
        width: 90%;
    }
    .form_box{
        max-width: 720px;
    }
    .work_box::before{
        padding-bottom: 72%;
    }
    .work_title{
        display: block;
    }
    .work_switch{
        width: 200px;
        padding: 15px 0;
    }
    .work_detail_item img{
        width: 100%;
    }
}
@media(max-width: 430px){
    .wrap{
        max-width: 400px;
    }
    section{
        margin-top: 100px;
    }
    #main_img{
        min-height: 26vh;
    }
    #nav_burger nav ul li{
        width: 180px;
    }
    .about_item dl{
        font-size: 18px;
    }
    .web_works,.other_works{
        gap: 10%;
    }
    .work_switch{
        width: 150px;
        padding: 10px 0;
    }
    .form_box{
        font-size: 18px;
    }
    .input{
        flex-direction: column;
    }
    #name,#email{
        margin-top: 10px;
        width: 100%;
    }
    #body{
        height: 200px;
    }
    .work_box::before{
        padding-bottom: 175%;
    }
    .work_item{
        width: 45%;
    }
    .work_detail_box{
        flex-direction: column;
        gap: 50px;
    }
    .work_detail_item{
        width: 100%;
    }
}
